@tailwind base;
@tailwind components;
@tailwind utilities;

/* Disables mobile Chrome/Safari pull-to-refresh and page bounce */
html,
body {
  overscroll-behavior-y: none;
  overscroll-behavior-x: none;
  overflow: hidden;
  height: 100dvh;
  width: 100vw;
  touch-action: none;
}