@tailwind base;
@tailwind components;
@tailwind utilities;

/* Disable pull-to-refresh and body bouncing on mobile Chrome/Safari */
html,
body {
  overscroll-behavior-y: none !important;
  overscroll-behavior-x: none !important;
  overflow: hidden !important;
  height: 100dvh;
  width: 100vw;
  touch-action: none;
}